@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dis-flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.jus-cen {
  justify-content: center;
}

.ali-cen {
  align-items: center;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ff-orb {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  background-color: rgba(78, 90, 98, 0.35);

  & svg {
    width: 25px;
    height: 25px;
    color: white;
  }

  & a {
    text-decoration: none;

    &:visited {
      color: white;
    }
  }

  & h2 {
    margin: 32px 20px;
    font-size: 21px;
    color: black;
  }
}

header {
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  background-color: #4E5A62;
  z-index: 1;

  & img {
    width: 25px;
    height: 25px;
  }

  & nav {
    position: absolute;
    top: -100vh;
    right: 0px;

    & ul {
      padding: 32px;
      background-color: #4E5A62;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      & li {
        list-style: none;

        & a {
          display: block;
          text-align: end;
          width: 115px;
          color: white;
        }
      }
    }
  }
}

main {
  & .heroArea {
    margin: 10px 0px 60px 0px;
    justify-content: center;
    flex-wrap: wrap-reverse;

    & .cta {
      width: 300px;
      flex-direction: column;
      gap: 16px;

      & h1,
      span {
        font-size: 24px;
        color: white;
      }

      & button {
        width: 192px;
        height: 40px;
        background-color: #E63439;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }

    & img {
      width: 300px;
    }
  }

  & .customersArea {
    & .customersBg {
      height: 180px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0px 20px;

      & .slider {
        width: 100%;
        height: 90px;
        background-image: url("/customers.png");
        animation: slider 10s infinite linear;
      }
    }
  }

  & .servicesArea {
    & .cardsCont {
      padding: 0px 20px;
      flex-wrap: wrap;
      gap: 32px;

      & .card {
        width: 370px;
        height: 450px;
        flex-wrap: wrap;
        border: solid 1px black;
        border-radius: 20px;
        overflow: hidden;
        /* box-shadow: 1px 1px 5px #4E5A62; */
        transition: scale 0.125s linear;

        & img {
          width: 100%
        }

        & .infoCard {
          width: 100%;
          padding: 32px;
          background-color: white;
          gap: 16px;

          & h3 {
            font-size: 21px;
          }

          & p {
            font-size: 21px;
            line-height: 1.5;
          }
        }

        &:hover {
          scale: 1.05;
        }
      }
    }
  }

  & .contactArea form {
    padding: 32px 20px;
    gap: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;

    & input,
    textarea,
    select {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      padding: 10px;
      border: solid 1px black;
      border-radius: 10px;
      font-size: 18px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      font-style: normal;

      &::placeholder {
        color: #4E5A62;
      }
    }

    & select {
      color: #4E5A62;
      appearance: none;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: right 11px top 50%;
      background-size: 10px auto;

      &:hover {
        cursor: pointer;
      }

      & option {
        color: black;
      }
    }

    & textarea {
      height: 185px;
      resize: none;
    }

    & span {
      width: 100%;
      font-size: 18px;
      margin: 0 auto;
    }

    & input[type="submit"] {
      background-color: #E63439;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  & .aboutArea .infoCont {
    padding: 32px 20px;
    gap: 32px;
    background-color: rgba(0, 0, 0, 0.5);

    & p,
    h4 {
      font-size: 21px;
      color: white;
    }

    & .subCont {
      gap: 32px;
      flex-wrap: wrap;

      & .navCont {
        display: none;

        & ul {
          gap: 18px;

          & li {
            font-size: 21px;
            list-style: none;
            color: white;

            & a {
              color: white;
            }
          }
        }
      }

      & .groupCont {
        gap: 32px;
        flex-wrap: wrap;
      }

      & .separador {
        gap: 14px;

        & .iconsCont {
          gap: 18px;
        }
      }
    }

    & iframe {
      border: none;
      width: 100%;
      height: 300px;
    }
  }
}

footer {
  height: 60px;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);

  & p {
    margin-right: 20px;
    color: white;
  }
}

@keyframes slider {
  to {
    background-position: -720px;
  }
}

@media only screen and (min-width: 768px) {
  main {
    & .heroArea {
      margin: 32px 0px 64px 0px;
      gap: 48px;

      & .cta {
        justify-content: center;
      }
    }

    & .servicesArea {
      & .cardsCont {
        & .card {
          width: 900px;
          height: 225px;

          & img {
            width: 50%;
            height: 100%;
          }

          & .infoCard {
            width: 50%;
            height: 100%;
            justify-content: center;
          }
        }

        & article:nth-child(2) {
          flex-direction: row-reverse;
        }
      }
    }

    & .aboutArea .infoCont {
      gap: 48px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  header {
    position: static;
    height: 90px;
    padding: 0px 120px;
    background-color: transparent;

    & img {
      width: 40px;
      height: 40px;
    }

    & svg {
      display: none;
    }

    & nav {
      position: static;

      & ul {
        width: 100%;
        padding: 0px;
        flex-direction: row;
        gap: 64px;
        font-size: 18px;
        list-style: none;
        background-color: transparent;

        & li {
          & a {
            text-align: start;
            width: 100%;
          }

          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  main {
    & h2 {
      padding-left: 100px;
    }

    & .heroArea {
      height: 500px;
      align-items: center;
      margin: 0px 0px 64px 0px;

      & img {
        width: 350px;
      }
    }

    & .customersArea {
      & .customersBg {
        padding: 0px 120px;
      }
    }

    & .servicesArea {
      & .cardsCont {
        padding: 0px 120px;
        justify-content: space-between;


        & .card {
          width: 300px;
          height: 405px;

          & img {
            width: 100%;
            height: 180px;
          }

          & .infoCard {
            width: 100%;
            height: 225px;
            padding: 30px;
            justify-content: center;
          }
        }

        & article:nth-child(2) {
          flex-direction: row;
        }
      }
    }

    & .contactArea form {
      padding: 32px 120px;

      & input,
      select {
        &[type="submit"] {
          width: 200px;
          margin: 0px;
        }

        &:not([type="submit"]) {
          width: 48%;
          height: 45px;
        }
      }
    }

    & .aboutArea {
      & .infoCont {
        padding: 32px 120px;

        .subCont {
          justify-content: space-between;

          & .navCont {
            display: block;
          }

          & .groupCont {
            gap: 80px;
          }

          & iframe {
            width: 300px;
          }
        }
      }
    }
  }
}